* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
}

.app__main {
  height: calc(100% - 2em);
}

.app__left-div {
  padding-right: 0.5em !important;
}

.app__right-div {
  padding-left: 0.5em !important;
}

.app__main > div {
  width: 50%;
  height: 100%;
  padding: 1em;
  display: inline-block;
}

.top-menu {
  height: 2em;
}

.editor {
  height: 100%;
  border: 2px dashed grey;
}

.preview {
  height: 100%;
  border: 2px dashed grey;
}