* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
}

.app__main {
  height: calc(100% - 2.5em);
}

.app__window--maximized {
  width: calc(100% - 5em);
}

.app__window--both {
  width: 50%;
}

.app__window--minimized {
  width: 5em;
}

.app__left-div {
  padding-right: 0.5em !important;
}

.app__right-div {
  padding-left: 0.5em !important;
}

.app__main > div {
  height: 100%;
  padding: 1em;
  display: inline-block;
  vertical-align: top;
}

.top-menu {
  height: 2.5em;
  padding: 1em 1em 0em 1em;
}

.editor {
  height: 100%;
}

.fic-editor {
  width: 100%;
  height: 100%;
}

.fic-editor > .CodeMirror {
  height: 100%;
}

.preview {
  height: 100%;
}

.compiler-output {
  height: 100%;
}

.compiler-output--selector-container {
  height: 2em;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.compiler-output--code-container {
  height: calc(100% - 2em);
}

.compiler-output--code-container > .CodeMirror {
  height: 100%;
}

.tabbed-window {
  width: 100%;
  height: 100%;
}

.tabbed-window__tab-selector {
  height: 1.6em;
}

.tabbed-window__tab-selector-anchor {
  display: inline-block;
  height: 100%;
}

.tabbed-window__tab-selector-button {
  display: inline-block;
  vertical-align: bottom;

  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 3px;

  height: 1.4em;
  line-height: 100%;  
  font-family: inherit;
  font-size: inherit;

  --tabbed-window__tab-selector-button--padding: 2px;
  padding: var(--tabbed-window__tab-selector-button--padding);

  margin: 0 1px;
}

span.tabbed-window__tab-selector-button {
  margin: 0 -1px;
  padding: var(--tabbed-window__tab-selector-button--padding) calc(var(--tabbed-window__tab-selector-button--padding) + 2px)
}

.tabbed-window__open-tab {
  height: calc(100% - 2em);

  background-color: white;
  border: 1px solid grey;
  filter: drop-shadow(1px 1px grey);
}